@font-face {
    font-family: 'myFont';
    src: url('/asset/simpfy.ttf'); /* IE9 Compat Modes */
    src: url('../asset/simpfy.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../asset/simpfy.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../asset/simpfy.ttf') format('woff'), /* Modern Browsers */
    url('../asset/simpfy.ttf') format('svg'); /* Legacy iOS */
}
ol,ul{
     list-style: none;
 }

*,::after,::before{
    box-sizing: border-box;
}
.none-display{
    display: none;
}
/*公共的属性*/
h4{
    letter-spacing: 2px;
}
body {
    position: relative;
    color: #000;
    background: url(../img/bg.png) repeat;
    -webkit-font-smoothing: antialiased;
    font-family: PingFang SC Regular,Microsoft YaHei,Hiragino Sans GB,"微软雅黑 Light","Arial Narrow",WenQuanYi Micro Hei,Arial,sans-serif;

}

.project-status{
    float: right;

    font-size: 0.3rem;
    margin-top:0.5rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    /*width: 100% ;*/
    font-family: Arial;
    font-weight: bold;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
    /*border-top:1px #f2f2f2 solid;*/
    padding: 10px 0;

}

.project-status-sep{
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 13px;
    position: relative;
    vertical-align: middle;
    margin-left: 9px;
}

.project-status-sep svg {
    margin-right: 5px;
    max-width: 13px;
    fill: #a4a4a4;
}

.project-icon-view{
    margin-top: 2px;
}
.project-status-number{
    margin-top: 2px;
}



.project-status img{
    width:0.8rem !important;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.nav-header{
    width: 100%;
    height: 6.6rem;
    position: fixed;
    z-index: 999;
    top: 0;
}
.nav-pc{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 6.6rem;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);

}

.nav-mobile{
    display: none;
}

.nav-pc_logo{
    position: absolute;
    left: 10%;
    top:38%;
    z-index: 100;
    background-image: url(../img/logo-large.png);
    background-size: 16rem 1.6rem;
    width:16rem;
    height:1.6rem;
}

.nav-pc_logo>a{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
}
.list-nav{
    top:2.7rem;
    right: 17%;
    position: absolute;
    z-index: 999;
    zoom:1;
    display: table;
    justify-content: center;
    align-items:center;
}

.list-nav .list-nav-item{
  position: relative;
    float: left;
    display: table-cell;
    cursor: pointer;
    padding: 0 20px;
}

.list-nav .list-nav-item a{
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    /*font-family: myFont Arial;*/
    color: #0f0f0f;
}
.list-nav .list-nav-item a:after{
    background: none repeat scroll 0 0 transparent;
    background-color: #2dbcfc;
    content: "";
    left: 50%;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    position:relative;
    display: block;
    height: 6px;
    bottom: -6px;
}

.list-nav .list-nav-item a:hover:after{
  width:100%;
    left: 0;
}

.nav-btn{
    top:2.3rem;
    right: 6%;
    position: absolute;
    z-index: 1999;
    zoom:1;
    display: table;
    margin-bottom:0.5rem;
    margin-left: 1.5rem;
    width: 6.5rem;
    height: 2rem;
    border-radius: 1rem;
    background-color:  #2dbcfc;
    text-align:center;
    cursor: pointer;

}

.nav-btn:hover{
    background-color:  #07a3e8;
}

.nav-btn .nav-btn-text{
    font-size: 0.8rem;
    /*font-family: myFont Arial;*/
    color: #fff;
    margin-top: 0.6rem;
}



.nav-pc-follow{
    height: 9.6rem;
    background-color: #002739;
}

.list-follow{
    top:2.1rem;
    left: 8.5%;
    position: absolute;
    z-index: 999;
    zoom:1;
    display: flex;
    justify-content: center;
    align-items:center;
}

.list-follow .list-follow-item{
    position: relative;
    background-size: 5rem 5rem;
    width:5rem;
    height:5rem;
    margin: 0 20px;
}

.list-follow .list-follow-item a{
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.list-follow .weixin-follow{
    background-image: url(../img/weixin.png);
}

.list-follow .weixin-follow:hover{
    background-image: url(../img/qrcode.png);
}

.list-follow .weibo-follow{
    background-image: url(../img/weibo.png);
}

.list-follow  .zhihu-follow{
    background-image: url(../img/zhihu.png);
}

.list-follow  .lofter-follow{
    background-image: url(../img/lofter.png);
}

.nav-menu{
    display: none;
}
#menu_btn{
    display: none;
    width:1rem;
    margin:2rem;
}
.nav-copyright{
    top:4.2rem;
    right: 9%;
    position: absolute;
    z-index: 999;
    display: table;
    width: 10rem;
    height: 2rem;
    text-align:center;
    font-size: 1rem;
    font-family: myFont Arial;
    color: #fff;
}

.follow-close-btn{
    position: absolute;
    z-index: 999;
    top:0.6rem;
    right: 0.6rem;
    cursor: pointer;
}

.follow-close-btn img{
    width: 0.9rem;
    height: 0.9rem;
}

.nav-search{
    height: 3.8rem;
    background-color: #fafafa;
    position: relative;
    z-index: 2;
    width: 100%;

    /*box-shadow: 0 0 5px rgba(0,0,0,0.1);*/
}
.index-search{
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.index-content{
    margin-top: -1.7rem;
    min-height: 120vh;
}
.nav-main_inner{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align:center;
    align-items: center;
    -webkit-box-pack:justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.listSelect{
    position: relative;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align:center;
    align-items: center;
    flex-wrap: nowrap;
    -ms-flex-wrap:nowrap;
}
.listSelectItem{
    position: relative;
    width: 160px;
    height:40px;
    background-color: #fff;
    line-height: 40px;
    font-size: 1rem;
    border-radius: 4px;
    text-align: center;
    background-position: 90% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    padding: 0 20px;
    margin-right: 0.8rem;
}

.listSelectItem:hover{
    background-color: #2dbcfc;
}

.listSelectItem:after{
    position:absolute;
    content:'';
    display:block;
    top:42%;
    right:12px;
    width:6px;
    height:6px;
    transform: rotate(-45deg);
    border-left: #000 2px solid;
    border-bottom:#000 2px solid;
}
.overlay-filter-tag{
    position:absolute;
    display: none;
    top:46px;
    left: 0;
    width:600px;
    padding:32px 40px;
    max-height: 584px;
    overflow-y: scroll;
}
.overlay-filter-year{
    position:absolute;
    display: none;
    top:46px;
    left: 173px;
    width:600px;
    padding:32px 40px;
    max-height: 584px;
    overflow-y: scroll;
}

.overlay-filter-catalog{
    position:absolute;
    display: none;
    top:46px;
    right:12px;
    width:160px;
    padding:32px 40px;
    max-height: 584px;
}

.list-filter-center{
    -webkit-box-pack: justify;
    -ms-flex-pack:justify;
    /*display: flex;*/
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.list-item{
    cursor: pointer;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.5;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    margin:8px 0;
    width: 100%;
}
.list-item:hover{
    color:#2dbcfc ;
}

.overlay{
    background-color: rgba(0,0,0,0.7);
    border-radius:4px;
    transition:all 0.12s linear;
}
.isHidden{
    visibility: hidden;
    opacity: 0;
}
.list-filter{
    position:relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.list-filter-item{
    cursor: pointer;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.5;
    overflow: hidden;
    white-space: nowrap;
    width:calc(33% - 24px);
    text-align: left;
    margin:8px 0 8px 24px;
}

.list-filter-item:hover{
    color:#2dbcfc ;
}

.main-pc{
    clear: both;
    position: relative;
    width: 75%;
    padding: 144px 0 0;
    margin-left: auto;
    margin-right: auto;

}

.main-design{
    clear: both;
    position: relative;
    width: 75%;
    padding: 80px 0 ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #a4a4a4;
    font-family: myFont;

}
.work-col{
    width: 33.3333%;
    padding-bottom: 2rem;
    padding-right:1rem ;
    cursor: pointer;

    /*position: absolute;*/
    /*left: 0px;*/
    /*top: 0px;*/


}
.paper-work{
    width: 100%;
    margin-right: 0.5rem;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

    transition: all 0.3s ease-out;
}



.paper-work:hover,.paper-work:focus{
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 12px 18px rgba(0,0,0,0.11),
    0 12px 23px rgba(220, 233, 255, 0.48);
}


.paper-work img{
    width:100%;
}

.work-title{
    width: 100%;
    text-align: left;
    margin-top: 1rem;
    /*margin-bottom: 1rem;*/
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 1rem;
    font-weight: bold;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}



.list-work{
    margin-top: 4rem;
}
.list-event{
    width: 100%;
    position: relative;
    display:flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
.paper{
    position: relative;
    overflow: hidden;
    background: #fff;
    white-space: nowrap;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.paperProfile{
    padding: 4rem 0;
    text-align: center;
}

.paperRoute{
    padding:98px 0;
    white-space: normal;
}
.paperRoute_wrapper{
    width:88%;
    margin: 0 auto;
}

.list-breadcrumb{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;

    -webkit-box-align: center;
    -ms-flex-align:center;
    align-items: center;

}

.list-breadcrumb-Item{
    font-family: PingFang SC Regular,Microsoft YaHei,Hiragino Sans GB,"微软雅黑 Light","Arial Narrow",WenQuanYi Micro Hei,Arial,sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding-right: 20px;
}

.list-breadcrumb-Item a:after{
    content:'>';
    display: inline-block;
    margin-left:20px;
}

/*PreLoad 测试*/

.preload{
    width: 100%;
    height: 100%;
    text-align: center;

}
.pre-loading {
    margin-top: 41vh;
}
.percentage{
    margin-top: 2.4vh;
    font-family: myFont;
    font-size: 1.1rem;
}
.water-fill {
    /*-webkit-animation: wave 0.7s infinite linear, fill-up 10s infinite ease-out alternate;*/
    -webkit-animation: wave 0.7s infinite linear;
    /*animation: wave 0.7s infinite linear, fill-up 10s infinite ease-out alternate;*/
    animation: wave 0.7s infinite linear;
}
@-webkit-keyframes wave {
    0% {
        x: -400px;
    }
    100% {
        x: 0;
    }
}
@keyframes wave {
    0% {
        x: -400px;
    }
    100% {
        x: 0;
    }
}
@-webkit-keyframes fill-up {
    0% {
        height: 0;
        y: 120px;
    }
    100% {
        height: 160px;
        y: -25px;
    }
}
@keyframes fill-up {
    0% {
        height: 0;
        y: 120px;
    }
    100% {
        height: 160px;
        y: -25px;
    }
}

/*首页canvas 效果测试*/

#canvasHolder{
    /*width: 100vw;
    height: 100vh;
    !*top: 2rem;
    left:0;
    right:0;
    bottom: 0;*!
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: #1a162a;*/

    margin: 0;
    position: relative;
    background-color: #189ae5;
    width: 100vw;
    height:100vh;
    text-align: center;
    top: 2rem;
    /*box-shadow: 0 0 5px rgba(0,0,0,0.1);*/
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
#defaktoLogo {
    display: none;
}

/*ava 页面12*/
/*团队页面效果测试*/
.team-title{
    font-size: 2rem;
    /*letter-spacing: 0.1rem;*/
   /*font-weight: bold;*/
    font-family: "Adobe 黑体 Std R";
}
.team-passage{
    margin-top: 2rem;
    line-height: 200%;
    letter-spacing: 0.3rem;

}
.list-btn{
    position: relative;
    zoom:1;
    clear: both;
    margin-bottom: 66px;
}
.list-btn li{
    display: inline-block;
    float: left;
    margin-right:0.5rem;
    position: relative;
    min-width:120px;
    padding:0 20px;
    height: 30px;
    background-color: #f3f3f3;
    line-height: 30px;
    font-size: 0.8rem;
    border-radius: 10px;
    text-align: center;
    background-position: 90% 50%;
    background-repeat: no-repeat;
    cursor: pointer;

}
.list-btn li a{
    text-decoration: none;
    color: #333;
}
.list-btn .isSelected{
    background-color: #2dbcfc;
}
.list-btn li:hover{
    background-color: #2dbcfc;
}


.team-profile{
    position:relative;
    float:left;
    width:-moz-calc((100% - 4rem)/3);
    width:-webkit-calc((100% - 4rem)/3);
    width: calc((100% - 4rem)/3);
    margin-right:2rem;

}
.team-profile-content{
    width:100%;
    height: 15rem;
}
.team-profile-last{

    margin-right:0;

}
.team-contact{
    width:100%;
    height: 15rem;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    display:none;
}
.profile-title{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-family: "Adobe 黑体 Std R";
    font-weight: bold;
    margin-bottom: 2rem;
}


.fotos_hs{
    position:absolute;
    left: 8rem;
    top:-60px;
    width:270px;
    height:300px;
    z-index: 666;
}
.foto_hs1{
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    background-image: url(../img/hs3.png);
    background-size: 17rem;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.foto_hs2{
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    background-image: url(../img/hs2.png);
    background-size: 17rem;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.foto_hs3{
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    background-image: url(../img/hs1.png);
    background-size: 17rem;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}




.fotos_tlf{
     position:absolute;
     left: 8rem;
     top:-60px;
     width:300px;
     height:300px;
     z-index: 666;
 }
.foto_tlf1{
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    background-image: url(../img/tlf1.png);
    background-size: 17rem;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.foto_tlf2{
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    background-image: url(../img/tlf2.png);
    background-size: 17rem;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.foto_tlf3{
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    background-image: url(../img/tlf3.png);
    background-size: 17rem;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}


.fotos_zw{
    position:absolute;
    left: 8rem;
    top:-60px;
    width:300px;
    height:300px;
    z-index: 666;
}
.foto_zw1{
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    background-image: url(../img/zw1.png);
    background-size: 17rem;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.foto_zw2{
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    background-image: url(../img/zw2.png);
    background-size: 17rem;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.foto_zw3{
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    background-image: url(../img/zw3.png);
    background-size: 17rem;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.wechat-contact{
    position: absolute;
    width:1.5rem;
    margin-top: 1.1rem;
    margin-left: 0.1rem;
    cursor: pointer;
    z-index:10;
}
#hs_contact:hover{

}
/*联系页面效果测试*/
.contact-title{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-family: "Adobe 黑体 Std R";
}

.contact-email{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
    color: #000;
}

.underline--magical {
    background-image: linear-gradient(120deg, #a4e1fd 0%, #2dbcfc 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
    background-size: 100% 88%;
}

.underline-magical {
    background-image: linear-gradient(120deg, #a4e1fd 0%, #2dbcfc 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;
}
.underline-magical:hover {
    background-size: 100% 95%;
}

.contact-qr{
    width: 12rem;
    height: 12rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}



/*design-detail 效果测试*/
.richmedia-detail-header{
    width: 100%;
    text-align: left;
    margin-top: -3rem;
}

.richmedia-detail-header hr{
    border-bottom: 1px dashed #d3d3d3;
}
/*.article-detail{
    width:960px;
}*/
.richmedia-detail-article{
    width: 100%;
    text-align: left;

}

.richmedia-detail{
    margin-top:4rem;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
    line-height: 2.0;
    font-family: PingFang SC Regular,Microsoft YaHei,Hiragino Sans GB,"微软雅黑 Light","Arial Narrow",WenQuanYi Micro Hei,Arial,sans-serif;
    letter-spacing: 1px;

}

.richmedia-detail-title{
    font-size:2.0rem;
    font-weight: bold;
    text-align: justify;
    word-break: break-all;

}

.richmedia-detail-data{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #d9d9d9;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-style: italic;

}

.like_button{
    display: flex;
    align-items: center;
    border:0;
    width: auto;
    height: 2.5rem;
    padding: 0 1rem 0 1rem;
    background-color: #5bd9fc;
    border-radius: 2rem;
    margin-right: 1.5rem;
    transition: background-color 200ms ease-in-out;
}
.like_button_text{
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}
.like_button_icon{
    width:1rem;
    margin-bottom: -1px;
    margin-right: 0.4rem;
    color: #fff;
    cursor: pointer;
    fill: #fff;
    text-align: center;
}

/*文章的副标题*/
h3{
    text-align: justify;
    word-break: break-all;
    margin-top:1.8rem;
    margin-bottom: 1.8rem;
    padding-left: 1rem;
    border-left: 5px solid #97ddfc;
    /*border-left: 5px solid #e7f8ff;*/
    background-color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    color: #010101;
}
.richmedia-detail-sub{
    text-align: justify;
    word-break: break-all;
    margin-top:1.8rem;
    margin-bottom: 1.8rem;
    padding-left: 1rem;
    border-left: 5px solid #97ddfc;
    /*border-left: 5px solid #e7f8ff;*/
    background-color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    color: #010101;
}

/*文章p*/
p{
    text-align: justify;
    word-break: break-all;
    font-size: 1.1rem;
    color: #888888;
    letter-spacing: 3px;
}

.richmedia-detail-desc{
    text-align: justify;
    word-break: break-all;
    font-size: 1.1rem;
    color: #888888;
    letter-spacing: 3px;
}

/*文章的粗体*/
strong{
    font-weight: bold;
    color: #010101;
}
.richmedia-detail-bold{
    font-weight: bold;
    color: #010101;
}

/*文章图片*/
.media-wrap{
    width:100%;
    margin-top: 1.5rem;
}

.richmedia-detail-img{
    width: 100%;
    margin-top: 1.5rem;
}


.richmedia-detail-fig{
    text-align: center;
    font-size: 0.8rem;
    color: #d3d3d3;
}

/*文章链接*/
a{
    text-decoration: underline;
    color: #2dbcfc;
    cursor: pointer;
    font-size: 1.1rem;
}
.richmedia-detail-href{
    text-decoration: underline;
    color: #2dbcfc;
    cursor: pointer;
    font-size: 1.1rem;
}

.richmedia-detail-share{
    margin-top: 3rem;
    display: inline-flex;
    font-size: 1.1rem;
    vertical-align: middle;
    height: 1.5rem;
    float: right;
}

/*.richmedia-detail-share a{
    text-align: center;
}*/




.rds_item{
    width:2.5rem;
    height: 2.5rem;
    padding-top: 0.2rem;
    margin:0 0.3rem 0 0.3rem;
}
.list-breadcrumb-Item a{
    color: #000;
}

/*********photo detail's 样式**********/
.center {
    text-align: center;
}

.swiper-container,
.swiper-container * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.swiper-container .swiper-no-swiping .swiper-button-prev,
.swiper-container .swiper-no-swiping .swiper-button-next {
    opacity: 0;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .1;
}

.product-gallery .product-photos-side,
.product-gallery .product-photo-main {
    position: relative;
}

.product-gallery .product-photo-main {
    margin-bottom: 30px;
}

.product-gallery .product-photos-side .swiper-container {
    height: 70px;
}

.product-gallery .product-photo-main .swiper-container {
    height: 70vh;
    /*width: 100%;*/
}

.product-gallery .product-photos-side .swiper-slide {
    width: 70px;
    opacity: .4;
    transition: 225ms opacity ease-in-out;
}

.product-gallery .product-photos-side .swiper-slide.swiper-slide-active {
    opacity: 1;
}

.product-gallery .swiper-container {
    position: static;
    width: 100%;
}

.product-gallery .swiper-slide {
    cursor: pointer;
    text-align: center;
}

.product-gallery img {
    max-height: 100%;
    max-width: 100%;
}
/* full screen product gallery */

.product-gallery-full-screen {
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    overflow-y: auto;
    z-index: 999999;
    transition: 350ms opacity ease-in-out;
}

.product-gallery-full-screen.opened {
    opacity: 1;
    overflow-y: scroll;
    pointer-events: auto;
}

.product-gallery-full-screen .swiper-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.product-gallery-full-screen .swiper-slide {
    overflow: hidden;
}

.product-gallery-full-screen .swiper-slide img,
.product-photos-side .swiper-slide img {
    max-height: 100%;
    max-width: 100%;
}
.product-gallery-full-screen .swiper-slide img {
    cursor: zoom-in;
    transition: 350ms -webkit-transform ease-in-out, 350ms transform ease-in-out;
}

.product-gallery-full-screen .swiper-button-prev,
.product-gallery-full-screen .swiper-button-next {
    background: rgba(0, 0, 0, .4);
    color: #aaa;
    transition:
            250ms opacity ease-in-out,
            150ms color ease-in-out;
}
body:not(:hover) .product-gallery-full-screen .swiper-button-prev,
body:not(:hover) .product-gallery-full-screen .swiper-button-next {
    opacity: 0;
    transition-delay: 1000ms;
}
body:hover .product-gallery-full-screen .swiper-button-prev,
body:hover .product-gallery-full-screen .swiper-button-next {
    transition-delay: 0ms;
}

.product-gallery-full-screen .swiper-button-prev:hover,
.product-gallery-full-screen .swiper-button-next:hover {
    color: #fff;
}

.product-gallery-full-screen .swiper-button-prev svg,
.product-gallery-full-screen .swiper-button-next svg {
    position: absolute;
    fill: currentColor;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gallery-nav {
    position: absolute;
    background: rgba(0, 0, 0, 1);
    color: #aaa;
    padding: 10px 15px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition:
            250ms opacity ease-in-out;
}
body:not(:hover) .gallery-nav {
    opacity: 0;
    transition-delay: 1000ms;
}
body:hover .gallery-nav {
    opacity: .65;
    transition-delay: 0ms;
}

.gallery-nav ul,
.gallery-nav li {
    list-style: none;
}

.gallery-nav ul {
    float: right;
}

.gallery-nav li {
    float: left;
    color: #aaa;
    cursor: pointer;
    margin-left: 15px;
    transition: 150ms color ease-in-out;
}

.gallery-nav li:hover {
    color: #fff;
}

.gallery-nav svg {
    display: block;
    fill: currentColor;
    height: 24px;
    width: 24px;
}

.gallery-nav .zoom.zoom-out svg.zoom-icon-zoom-in {
    display: none;
}
.gallery-nav .zoom svg.zoom-icon-zoom-out {
    display: none;
}
.gallery-nav .zoom.zoom-out svg.zoom-icon-zoom-out {
    display: block;
}

.gallery-nav .fullscreen.leavefs svg.fs-icon {
    display: none;
}

.gallery-nav .fullscreen svg.fs-icon-exit {
    display: none;
}

.gallery-nav .fullscreen.leavefs svg.fs-icon-exit {
    display: block;
}

.gallery-nav .swiper-pagination {
    position: static;
    float: left;
    width: auto;
    line-height: 24px;
}

.photo-detail-title{
    width: 100%;
    text-align: left;
    font-size:2.0rem;
    font-weight: bold;
    margin-top: -2rem;
    margin-bottom: 1rem;
    line-height: 2.0;
}

.photo-detail{
    margin-top:4rem;
    padding-left: 10rem;
    padding-right: 10rem;
    /*text-align: center;*/

}

.photo-detail-desc{
    margin-top: 2rem;
    text-align: left;
}

/*loading refresh*/
.loading {
    margin: 50px auto;
    width: 100%;
    text-align: center;
    transition: all 2s;
}
.loading > h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: 300;
    color: #666666;
}

#load {
    width: 3rem;
    animation: loading 4s linear infinite;
}
#load #loading-inner {
    stroke-dashoffset: 0;
    stroke-dasharray: 325;
    stroke-width: 10;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    animation: loading-circle 2s linear infinite, color-change 12s linear infinite;
    stroke: #4CBDEC;
    fill: transparent;
    transition: stroke-color 2s;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loading-circle {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -650;
    }
}
@keyframes color-change {
    0% {
        stroke: #4CBDEC;
    }
    20% {
        stroke: #955AA3;
    }
    40% {
        stroke: #E766A5;
    }
    60% {
        stroke: #F9A120;
    }
    80% {
        stroke: #ECD813;
    }
    100% {
        stroke: #4DBC93;
    }
}
